{{input type="text" value=firstName placeholder="First Name"}}<br />
{{input type="text" value=middleName placeholder="Middle Name"}}<br />
<button type="button" {{action "efcSave"}}>Save</button>
<button type="button" {{action "efcCancel"}}>Cancel</button>