@import "bootstrap";

.iconGallery {
	list-style-type: none;

	li {
		float: left;
		width: 100px;
		height: 100px;
		padding-top: 0.5em;
		margin: 10px;
		text-align: center;
		font-size: 2em;
		position: relative;

		& > div {
			width: 100%;
			height: 0.75em;
			line-height: 0.75em;
			position: absolute;
			bottom: 0px;

			p {
				font-size: 0.5em;
			}
		}
	}
}